<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.1.13">
  <scope>GLOBAL</scope>
  <id>git_token</id>
  <description></description>
  <username>rmehta4</username>
  <password>
     {{git_token}}
  </password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>

