<com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey plugin="ssh-credentials@1.13">
  <scope>GLOBAL</scope>
  <id>ssh_key</id>
  <description>SSH KEY FILE</description>
  <username>vagrant</username>
  <privateKeySource class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivat
eKeySource">
    <privateKey>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCogrnBtOi3UcsAisJrZRGMj+8vPSl2Qf1sHVqevz2UfWABJV+ttXnc67B+ltTciat4DtJQ/JkYExAkp3sM7NyMtLm2AYpOgNx6aVvdgPd0bYZL2Ew9bmIQFEyjjoVR2TrIWc4/PSOpZsYDkBbquP27WI6KYb8i3jNItDDjl4kByNHBee25M3nsJn4tq+88j9JEG7LRmc5gV+NlSCYEoB9SFoeoUhJvy05dbnS/RorcESlgpXVxnJtYtkGsMl7ql19b7u5JnPJfSH0NrOfzKnVoEqNeOnq+ocu/yYtaNYdlFMQnKq5CPi60l6HrVSg4m2cNy8b+Tr/NVwKQjPNwD7xn vagrant@vagrant-ubuntu-trusty-64</privateKey>
  </privateKeySource>
</com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey>

